[run]
omit = ../*migrations*
        *cryptomonsters/settings.py*
        *mining/admin.py*
        *monsters/admin.py*
        *cryptomonsters/celery.py*
        *mining/tasks.py*
        *cryptomonsters/__init__.py*
        *monsters/models.py*

[report]
show_missing = True