{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href={% static 'css/bootstrap.min.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'css/font-awesome.min.css' %}>
    <link href="https://fonts.googleapis.com/css?family=Lora:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'css/monster.css' %}>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src={% static 'js/script.js' %} ></script>
    <link rel="icon" href="{% static 'img/c_mon2.png' %}">
    <title>Cryptomonsters</title>
</head>
<body>
<!-- div used to make the body blur -->

<div class="overlay" id="overlay" onclick="closeNav()"></div>

  {% block nav %}{% include 'cryptomonsters/navbar.html'%}{% endblock %}

 {% block content %}{% endblock %}

   <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <img class="img-responsive foot-img" src={% static 'img/cryptomonster_home.png' %}>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="footer-p2" >
                     <p class="font-2"></p>
            </div>
          </div>
        </div>
      </div>
    </section>
 
</body>
</html>


