input,select,textarea{
    width: 40%;
    font-family: 'Lora', serif;
}

btn-primary{
    margin-top: -3%;
    width: 20%;
}

form{
    margin-left: 25%;
}
.foot-img{
    max-width: 50%;
}

@media (min-width: 1000px){
    .monster{
        float: left;
        width: 33%;
        min-width: 250px;
        margin: auto;
        text-align: center;
    }
    .monster{

    }
}

@media (max-width: 1000px){
    .monster{
        float: left;
        width: 50%;
        min-width: 250px;
        margin: auto;
        text-align: center;
    }
    .monster{

    }
}

@media (max-width: 525px){
    .monster{
        float: left;
        width: 100%;
        min-width: 250px;
        margin: auto;
        text-align: center;
    }
    .monster{

    }
}

.pagination{
    font-family: 'Lora', serif;
    font-size: 1.2em;
    color: #717171;
    text-align: center;
    width: 100%;
}