{% extends 'cryptomonsters/base.html' %}

{% block nav %}

<div class="overlay" id="overlay" onclick="closeNav()"></div>
    
        <div class="head-bar">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                    {# <a href="index.html"><img class="img-responsive" src={% static 'img/logo.png' %} ></a> #}
                </div>
                <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6 text-right">
                    <div id="mySidenav" class="sidenav text-center">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br>
                        <a href="{% url 'home' %}">Home</a><hr>
                        <a href="{% url 'profile' %}">Profile</a><hr>
                        <a href="element.html">Element</a>
                    </div>
                    <div class="main" id="main">
                      <a href="#" onclick="openNav()">MENU &#9776;</a>
                    </div>
                </div>
              </div>
              <hr>
            </div>
        </div>

{% endblock %}


{% block content %}
 <div class="wow-btn text-center">
    <a class="btn btn-default wow-button" href="{% url 'mining_new_block' %}">Start Mining</a>
</div>
{% endblock %}
